div {
    border: solid 1px black;
}

#logo {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    padding: 0 50px 0 50px;
}

#h1 {
    width: 800px;
    display: flex;
    justify-content: after center;
}

#button {
    border-radius: 50%;
    height: 50px;
    width: 100px;
    border: none;
}

#menuItem {
    border: solid 1px red;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    background-color: blue;
    padding-bottom: 100px
}

#post {
    border: none;
    padding-top: 50px;
    width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 900px;
    height: 50px;
    border: none;
}

#div3 {
    display: flex;
}

.UserName {
    width: 800px;
    height: 70px;
    background-color: lightgray;
    padding: 10px 0 10px 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: none;
}

#intput {
    background-color: lightgray;
    width: 560px;
    height: 60px;
    border-radius: 20px;
    border: white;
    font-size: large;
    padding-left: 40px;
    padding-bottom: 20px;
}

#button2 {
    width: 100px;
    height: 50px;
    border-radius: 20px;
    border: white;
    background-color: lightblue;
}

.input2 {
    width: 580px;
    height: 30px;
    border-radius: 20px;
    border: none;
    padding-left: 20px;
}

.strong {
    padding-left: 20px;
}
